# Dependencies
node_modules/
venv/
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Editor Files
.DS_Store
.vscode/

# Build artifacts (Python)
__pycache__/
*.pyc
*.pyo

# Database files
*.sqlite3